.container{
    margin-top: 20px;
}

div{
    margin-bottom: 10px;
}

label{
    padding-left: 10px;
}

#hed{
    background-color: darkgreen;
    font-style: italic;
}

input[type='checkbox']{
    margin-left: 10px;
}

img{
    border-radius: 100px;
}