.list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
.list li {
    padding: 17px 16px;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 80px;
  }
  
h4{
    
color: rgb(82, 134, 126);
    font-size: 17px;
}
.container{
    padding-top: 60px;
    margin-bottom: 60px;
}

a{
 
   font-weight: 600;
    
}